<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordBank.Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WordBank.Repository.Properties.Settings>
            <setting name="k" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8" ?&gt;
&lt;words&gt;
  &lt;word&gt;absence&lt;/word&gt;
  &lt;word&gt;acceptable&lt;/word&gt;
  &lt;word&gt;accidently&lt;/word&gt;
  &lt;word&gt;accommodate&lt;/word&gt;
  &lt;word&gt;accommodation&lt;/word&gt;
  &lt;word&gt;accomplishments&lt;/word&gt;
  &lt;word&gt;accumulate&lt;/word&gt;
  &lt;word&gt;achieve&lt;/word&gt;
  &lt;word&gt;achieveable&lt;/word&gt;
  &lt;word&gt;acknowledge&lt;/word&gt;
  &lt;word&gt;acknowledgement&lt;/word&gt;
  &lt;word&gt;acquaintance&lt;/word&gt;
  &lt;word&gt;acquire&lt;/word&gt;
  &lt;word&gt;across&lt;/word&gt;
  &lt;word&gt;address&lt;/word&gt;
  &lt;word&gt;administratively&lt;/word&gt;
  &lt;word&gt;aggravate&lt;/word&gt;
  &lt;word&gt;aggressive&lt;/word&gt;
  &lt;word&gt;aggression&lt;/word&gt;
  &lt;word&gt;although&lt;/word&gt;
  &lt;word&gt;altogether&lt;/word&gt;
  &lt;word&gt;amateur&lt;/word&gt;
  &lt;word&gt;analyse&lt;/word&gt;
  &lt;word&gt;annual&lt;/word&gt;
  &lt;word&gt;answer&lt;/word&gt;
  &lt;word&gt;anxiety&lt;/word&gt;
  &lt;word&gt;apology&lt;/word&gt;
  &lt;word&gt;apparently&lt;/word&gt;
  &lt;word&gt;appearance&lt;/word&gt;
  &lt;word&gt;appreciate&lt;/word&gt;
  &lt;word&gt;appropriate&lt;/word&gt;
  &lt;word&gt;argument&lt;/word&gt;
  &lt;word&gt;arguable&lt;/word&gt;
  &lt;word&gt;arising&lt;/word&gt;
  &lt;word&gt;arithmetic&lt;/word&gt;
  &lt;word&gt;arrangement&lt;/word&gt;
  &lt;word&gt;ascend&lt;/word&gt;
  &lt;word&gt;association&lt;/word&gt;
  &lt;word&gt;athlete&lt;/word&gt;
  &lt;word&gt;attendance&lt;/word&gt;
  &lt;word&gt;audience&lt;/word&gt;
&lt;/words&gt;</value>
            </setting>
        </WordBank.Repository.Properties.Settings>
    </applicationSettings>
</configuration>